.add-employee-card {
    max-width: 100px;
    min-height: 100px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    margin-left: 45%;
  }
  